@media(max-width:768px) {
    .caja-padre {
        display: flex;
        width: 768px;
        height: 1200px;
    }

    header {
        display: flex;
    }

    .titulo {
        display: flex;
    }

    .titulo h1 {
        font-size: 2em;
        text-align: center;
    }

    .imagen_alura {
        position: absolute;
        left: 5.21%;
        right: 90.74%;
        top: 80.42%;
        bottom: 91.16%;
    }

    .ingresar_texto_encriptador2,
    .ingresar_texto {
        position: absolute;
        width: 688px;
        height: 288px;
        left: 90px;
        top: 240px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 688px;
        height: 67px;
        left: 70px;
        top: 770px;
    }
    
    #botonPegar{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-bottom: 0 10px;
        width: 328px;
        height: 67px;
        left: 5px;
        top: 74px;
    }

    #botonPegar p{
        width: 70%;
        text-align: center;
        color: lightcoral;
    }

    .exclamacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: absolute;
        width: 229px;
        height: 18px;
        left: 70px;
        top: 736px;
    }

    .solo_letras_minusculas {
        width: 205px;
        height: 18px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }


    .caja-textoEncriptado {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 32px;
        gap: 32px;
        position: absolute;
        width: 668px;
        height: 133px;
        left: 30px;
        top: 881px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .caja-textoEncriptado-munheco{
        display: none;
    }
    .caja-textoEncriptar-items-1{
        width: 624px;
        height: 29px;
    }

    .caja-textoEncriptar-items-2{
        width: 624px;
        height: 24px;
    }

    .textoCopiar {
        width: 624px;
        height: 280px;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
    }

    .botonCopiar {
        width: 624px;
        height: 67px;
    }

    footer, .rodapie {
        align-items: center;
        display: flex;
        top: 1120px;
        width: 100%;
    }

    .candado{
        position: absolute;
        left: 30px;
        
    }
    .redes{
        width: 5%;
    }
    
    .Copyright{
        margin:0;
        left: 102px;
        font-size: 2em;
        
    }

}


/* pantalla de 380px*/

@media(max-width:380px) {

    .caja-padre {
        display: flex;
        width: 375px;
        height: 933px;
    }

    header {
        display: flex;
    }

    .titulo {
        display: flex;
    }

    .titulo h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .encabezado, .logo, .imagen_alura{
        position: absolute;
        left: 1%;
        right: 87.2%;
        top: 10%;
        bottom: 25%;
    }

    .ingresar_texto_encriptador2,
    .ingresar_texto {
        position: absolute;
        width: 343px;
        height: 624px;
        left: 40px;
        top: 190px;
    }

    textarea::placeholder {
        font-size: 30px;
    }

    .exclamacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: absolute;
        width: 229px;
        height: 18px;
        left: 16px;
        top: 451px;
    }

    .solo_letras_minusculas {
        width: 205px;
        height: 18px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .botones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-content: center;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 85%;
        height: 158px;
        left: 16px;
        top: 485px;
    }

    .encriptar p,
    .desencriptar p {
        width: 95%;
        text-align: center;
    }

    #botonPegar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        margin-bottom: 0 10px;
        width: 95%;
        height: 67px;
        left: 16px;
        top: 174px;
    }

    #botonPegar p{
        width: 70%;
        text-align: center;
    }

    .container{
        justify-content: space-around;
    }

    .caja-textoEncriptado {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 32px;
        gap: 32px;
        position: absolute;
        width: 80%;
        height: 186px;
        left: 10px;
        top: 707px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .caja-textoEncriptar-items-1{
        width: 263px;
        height: 58px;

    }

    .caja-textoEncriptar-items-2{
        width: 263px;
        height: 48px;
        font-weight: 400;
        font-size: 20px;
       

    }

    footer {
        display: flex;
        top: 1000px;
        width: 369px;
        height: 100px;
    }
   
    .rodapie, .candado, .Copyright{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .candado{
        position: absolute;
        left: 5px;
        
    }
    .redes{
        width: 5%;
    }
    
    .Copyright{
        margin:0;
        font-size: 1rem;
        left: 63px;
        
    }
}